@-webkit-keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.honeypot {
  display: none;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans';
  background: url("/img/blocks_bg_body.jpg");
}

header {
  background: url("/img/blocks_bg.png");
}

h1 {
  font-family: 'Anton';
  color: #000;
}
h1 a {
  text-decoration: none;
}
h1 a:visited {
  color: #000;
}

p {
  margin: 0.7em 0;
  line-height: 1.5;
}

.logo span {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  opacity: 0;
}

.logo span:nth-child(1) {
  -webkit-animation: animate 0.3s ease forwards;
          animation: animate 0.3s ease forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  background-color: #0CCE6B;
}

.logo span:nth-child(2) {
  -webkit-animation: animate 0.3s ease forwards;
          animation: animate 0.3s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  background-color: #FC5B2A;
}

.logo span:nth-child(3) {
  -webkit-animation: animate 0.3s ease forwards;
          animation: animate 0.3s ease forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  background-color: #0A2E36;
}

.center {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 0.5em;
  margin: 0.5em 0.5em 0.5em 0;
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
  border: none;
  font-family: inherit;
  font-size: 100%;
  font-weight: 500;
  cursor: pointer;
}

.button--blue {
  background-color: #0A2E36;
}
.button--blue:hover {
  background-color: #0CCE6B;
}

.button--orange {
  background-color: #FC5B2A;
}
.button--orange:hover {
  background-color: #0CCE6B;
}

#js-game {
  position: relative;
  text-align: center;
}

#js-game .timer {
  display: inline-block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font-weight: 700;
  min-width: 50px;
  background: url("/img/blocks_bg.png");
}

#js-game .score-container {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 700;
}

#js-game .timer,
#js-game .score-container {
  padding: 0.8em;
  font-family: 'Anton';
}

#js-countdown {
  position: fixed;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 5em;
  font-family: 'Anton';
  z-index: 0;
}

#js-game #game-over {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}

#js-game #js-game__container {
  position: relative;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  background: url("/img/blocks_bg_body.jpg");
  border: 1px #E5E5E5 solid;
}

#js-game .block {
  position: relative;
  z-index: 1;
}

#playerName {
  padding: 6px;
}

table {
  width: 100%;
}

th {
  text-align: left;
  font-weight: 500;
  background-color: #0A2E36;
  color: white;
}

th, td {
  padding: 5px;
}

tbody tr:nth-child(even) td {
  background-color: #eee;
}

input[type="text"],
select {
  padding: 4px;
  vertical-align: middle;
  font-family: inherit;
}

h2 {
  font-size: 1.2em;
  padding-bottom: 0.8em;
  border-bottom: 1px solid #DFDFDF;
}

label {
  vertical-align: middle;
}

.fade {
  transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
}

.fade-out {
  opacity: 0;
}

.empty {
  background-color: #FC5B2A;
  border: 1px #FAFAFA solid;
  color: white;
}

.row {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
}

.small {
  font-size: 0.8em;
}

.left {
  position: relative;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
}

h1 .button {
  float: right;
  padding: 0.6em;
  font-size: 0.7em;
  margin-right: 0;
  color: #fff;
}
h1 .button:visited {
  color: #fff;
}

h1 .right {
  padding: 0.5em 0.5em 0 0;
}

.float-r {
  float: right;
}

@media only screen and (max-device-width: 480px) {
  h1 .button {
    font-size: 0.5em;
    margin-top: 0.9em;
  }
}
