<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="robots" content="index,follow">
  <meta name="revisit-after" content="1 days">

  <meta name="description" content="Blocks">
  <meta name="author" content="Lyndsey Browning">

  <title> Blocks - Hit as many blocks as you can </title>

  <link rel="dns-prefetch" href="http://fonts.googleapis.com">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Anton" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" type="text/css" href="css/styles.min.css" />
